<%- include('./partials/header') %>

<div class="main fadeInDown">
    <div class="inner-main">
        <div class="inner-post">
            <div class="outer-card">
                <div class="card">
                    <div class="post-body">
                            <div class="title post-title">
                                <%= blog.title %>
                            </div>
                        <span class="meta text-muted"><%= blog.created.toDateString() %></span>
                    </div>
                    <div class="card-img post-img">
                        <img class="first-images" src="<%= blog.image %>">
                    </div>
                </div>
            </div>

            <div class="">
                <div class="description">
                    <p><%= blog.body %></p>
                </div>
                <a class="btn btn-md btn-primary float-left" href="/techblog/blogs/<%= blog._id %>/edit">Edit</a>
                <form id="delete" method="POST" action="/techblog/blogs/<%= blog._id %>?_method=DELETE">
                    <div class="form-group">
                            <button class="btn btn-md btn-primary">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<%- include('./partials/footer') %>
